* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #eb3fc6;
    --twitter-background: #b6b6b690;
    background-image: url("/images/fireworks2.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin: 20px;
}

.navbarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.navbarOption.active {
    color: var(--twitter-color);
}

body {
    display: flex;
    height: 100vh; /*was 100vh*/
    max-width: 1300px;
    margin-left: auto;
    margin-right:auto;
    padding: 0 10px;
}

.navbar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 20;
    background: rgba(0, 0, 0, 0.5); 
}