/*
h6 {
    background-color: rgb(242, 51, 137);
}

h1 {
    color:rgb(242, 51, 137);
}
*/


img {
    width: 100px;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url("/Luvers-Lane/images/fireworks2.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: #EEA0DD90;  /*#f894ce;*/
    text-align: center;
    padding: 40px 90px;
    color: rgb(252, 252, 252);
    position: relative;
    border-radius: 20px; 
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.nav-item {
    color: #ffffff;
    font-weight: bold;
}

/*.nav-link-active {
    color:#ffffff;
    font-weight: bold;
    text-align: inline;
}*/

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.profile-pic1 {
    
}
/* 6:10 */
/* cute pink color: rgb(236, 78, 149) */